@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
    /* border: 1px solid rgb(49, 150, 108); */
}

a {
    color: inherit;
    text-decoration: none;
}

ul{
    list-style: none;
}

/* ============================ */

html {
    font-size: 60%;
}

body,main {
    display: grid;
    font-size: 1.6rem;
}

/* header, header>*, main >*{
    border: 1px solid red;
} */

img {
    max-width: 100%;
}

p {
    line-height: 2.5rem;
}

h3 {
    font-size: 2.3rem;
}

h1,
h2,
h3 {
    color: #555;
}

header,
main,
footer {
    text-align: center;
    padding: 0 10%;
}

section,
footer {
    margin-top: 13.0rem;
}

section#three {
    margin-top: 9.0rem;
}

section p {
    color: #999;
    font-size: 1.6rem;
}

.section-header h1 {
    margin: 5.0rem auto 0;
}

.section-header h2 {
    margin-bottom: 1.5rem;
}

.section-header p {
    margin-bottom: 5.0rem;
}

/* ============================ */
header {
    background-image: linear-gradient(to top, #fff, #ffffff00), url(images/bg-header-mobile.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 8.0rem;
}

.header-content img{
    height: 12rem;
}

.header-content p {
    margin: 1.0rem auto 3.0rem;
    color: #888;
}

.download-btn {

    font-size: 1.6rem;
    padding: 1.5rem 0;
    border-radius: 2.5rem;
    color: #fff;
    border: none;
    box-shadow: #888;
    margin-bottom: 1.0rem;


    
    width: 100%;
    display: block;
    margin: 0 auto;
}

.download-btn.ios {
    background-color: hsl(171, 66%, 44%);
    border-bottom: 0.2rem solid rgb(21, 143, 129);
    box-shadow: 0px 0.2rem 1.0rem rgba(0, 128, 117, 0.829);

    margin-bottom: 2.5rem;
}

.download-btn.mac {
    background-color: hsl(233, 100%, 69%);
    border-bottom: 0.2rem solid rgb(82, 82, 230);
    box-shadow: 0px 0.2rem 1.0rem rgba(71, 71, 180, 0.829);
}

/* ----------------- */

.pc-ul-list-container li{
    margin-top: 5.0rem;
}

.pc-ul-list-container h3 {
    margin-bottom: 1.0rem;
}

/* ------------- */

.tools-list {
    /* min-width: 70%;
    max-width: 85%; */
    display:grid;
    gap: 6.0rem;
    list-style: none;
    margin: 0 auto;
    margin-top: 7.0rem;
}


.tools-list li img {
    height: 4.0rem;
    margin: 0 auto 3.0rem;
}

.tools-list li h3{
    margin-bottom: 1.5rem;
}

/* ------------------------- */

.companies{
    display: grid;
    gap: 5.0rem;
}

.companies li img{
    max-width: 70%;
}

/* ----------- */

footer {

    padding: 4.0rem 0;
    background-color: #eee;
    color: #666;
    font-size: 1.5rem;

}

.footer-list {
    display: grid;
    gap: 3.0rem;
    margin: 4.0rem 0;
}

.logo-footer {
    height: 5.0rem;
}

.social-logos{
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 2.0rem;
}

@media screen and (max-width:374px) {

    html{
        font-size: 2.35vw ;
    }
}


