/* MOBILE FIRST */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
 }

 .container{
    width: 100%;
    display: flex;
    flex-direction: column;
 }


.res-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 8vw;
    background: linear-gradient(to top, #3b42a8 1%, rgb(93, 8, 190), rgb(151, 89, 223));

    text-align: center;
    border-radius: 0 0 5.567vw 5.567vw;
}

#res-ur{
    font-size: 5.6vw;
    font-weight: bold;
    color: #ccc;
}

#res{
    display: inline-block;
    padding: 9.5vw ;
    background: linear-gradient(#2828b4,#3636f8) ;
    background: linear-gradient(#0000003a, #ffffff00) ;
    border-radius: 50%;
    margin: 6.68vw 0;
}

#res p{
    color: #cccccca6;
    width: 17.39vw ;
    height: 17.39vw ;
    font-size: 3.56vw;
    font-weight: 700;
}

#res p strong{
    color: white;
    display: inline-block;
    font-size: 12.115vw;
    margin-bottom: 1.11vw;
    
}

#res-txt{
    display: block;
    margin: 0 auto;
    width: 70%;

    font-weight:lighter;
    color: #cccccca6;
    font-weight: 500;
    font-size: 4.5vw;

}

#res-txt strong{
    display: inline-block;
    color: #fff;
    font-size: 6vw;
    margin-bottom: 3.34vw;
    
}

.summary{
    height: 100%;
    max-height: 150vw;
    min-height: 120vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding: 5vw;
    /* border: 1px solid red; */
}

.summary h2{
    font-size: 6vw;
    margin-bottom: 3.34vw;
}

.summary ul{
    width: 100%;
    height: 70%;
    display: grid;
    gap: 4vw;
}


.sum-style{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 4vw;
    border-radius: 1.7vw;
    font-weight: bold;
    font-size: 5vw;
}

.sum-style .rate{
    font-weight: bold;
    color: #444;

}

.sum-style .rate em{
    color: #888;
}

.reaction{
    background-color: #f5e0e0b7;
    color: #f88686;
}

.memory{
    background-color: #f7eec6b0;
    color: #ffd000;
}

.verbal{
    background-color:  #a1fcde9d;
    color:  #03ce8a;
}

.visual{
    background-color: #b3b3fc93;
    color: #3636f8;;
}

.fa{
    margin-right: 1.11vw;
}

.summary button{
    border-radius: 5.56vw;
    width: 100%;
    background-color: #1b1730;
    color: white;
    padding: 3.11vw;
    border: none;
    font-weight: bold;
    font-size: 3.46vw;
    margin-top: 6vw;
}

